h1, h2 {
  font-size: 30px;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  font-size: 700;
  color: rgba(0, 0, 0, 0.6);
}

p {
  font-size: 16px;
  font-weight: 400;
}

.date p {
  font-size: 18px;
  font-weight: 500;
  color: #009688;
}

.main_info p {
  color: #757575;
}
.main_info p .current {
  background: #009688;
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
}

@media (max-width: 500px) {
  h1, h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 14px;
  }

  .date p {
    font-size: 16px;
  }
}
body, * {
  margin: 0;
  padding: 0;
  font-family: "Robotto", sans-serif;
}

body {
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-x: hidden;
}

.app {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  width: 1600px;
}
@media (max-width: 1600px) {
  .app {
    width: 100%;
  }
}
.app .main_info {
  flex: 3;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 20px;
  padding: 0 20px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px 0px, rgba(0, 0, 0, 0.19) 0px 4px 20px 0px;
}
.app .about_blok {
  flex: 7;
  margin: 20px;
  margin-left: 0;
}
.app .about_blok .education, .app .about_blok .experience {
  padding: 20px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px 0px, rgba(0, 0, 0, 0.19) 0px 4px 20px 0px;
}
.app .about_blok .experience {
  margin-bottom: 20px;
}

ul, li {
  list-style: none;
}

ul svg {
  width: 20px;
  height: 20px;
}

.main_info .title svg {
  width: 25px;
  height: 25px;
}

.about_blok .title svg {
  width: 40px;
  height: 40px;
}

.title svg {
  margin-right: 15px;
}

svg {
  fill: #009688;
}

.date, .title, .main_list li {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

@media (max-width: 800px) {
  .app, .app .about_blok {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .app .about_blok {
    margin-left: 20px;
  }
}
@media (max-width: 800px) {
  .app .about_blok {
    margin: 0;
    margin-left: 0;
  }
  .app .about_blok .experience, .app .about_blok .education {
    margin: 15px;
    padding: 15px;
    width: calc(100vw - 60px);
  }
  .app .main_info {
    margin: 0 15px;
    width: calc(100vw - 70px);
  }
}
.main_info .image {
  position: relative;
  width: calc(100% + 40px);
  left: -20px;
  margin-bottom: 15px;
}
.main_info .image img {
  width: 100%;
}
.main_info .image h1 {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.main_info .title {
  margin: 15px 0;
}
.main_info .skills, .main_info .leanguages {
  width: 100%;
}
.main_info ul {
  width: 100%;
  padding-bottom: 15px;
}
.main_info ul.main_list {
  border-bottom: 1px solid #e2e0e0;
}
.main_info ul li {
  margin-bottom: 20px;
}
.main_info ul li:last-child {
  margin-bottom: 0;
}
.main_info ul li svg {
  margin-right: 15px;
}
.main_info ul.skill_list li .level {
  position: relative;
  margin-top: 20px;
  height: 18px;
  padding: 2px 0;
  width: 100%;
  border-radius: 20px;
  background: #f1f1f1;
}
.main_info ul.skill_list li .level::before {
  content: "";
  position: absolute;
  height: 100%;
  font-size: 12px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #009688;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.main_info ul.skill_list li:nth-child(1) .level::before {
  content: "90%";
  width: 90%;
}
.main_info ul.skill_list li:nth-child(2) .level::before {
  content: "80%";
  width: 80%;
}
.main_info ul.skill_list li:nth-child(3) .level::before {
  content: "75%";
  width: 75%;
}
.main_info ul.skill_list li:nth-child(4) .level::before {
  content: "50%";
  width: 50%;
}
.main_info ul.leanguages_list li .level {
  position: relative;
  margin-top: 20px;
  height: 25px;
  padding: 2px 0;
  width: 100%;
  border-radius: 20px;
  background: #f1f1f1;
}
@media (max-width: 500px) {
  .main_info ul.leanguages_list li .level {
    margin-top: 15px;
    height: 20px;
  }
}
.main_info ul.leanguages_list li .level::before {
  content: "";
  position: absolute;
  height: 100%;
  font-size: 12px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #009688;
}
.main_info ul.leanguages_list li:nth-child(1) .level::before {
  width: 100%;
}
.main_info ul.leanguages_list li:nth-child(2) .level::before {
  width: 50%;
}
.main_info ul.leanguages_list li:nth-child(3) .level::before {
  width: 25%;
}

.about_blok div.title {
  padding-bottom: 30px;
}
.about_blok ul {
  margin: 0 10px;
}
.about_blok ul li {
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e2e0e0;
}
.about_blok ul li h3, .about_blok ul li .date {
  margin-bottom: 20px;
}
.about_blok ul li .date svg {
  margin-right: 15px;
}
.about_blok ul li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: #009688;
  padding: 10px 0;
  width: 1560px;
}
@media (max-width: 1600px) {
  footer {
    width: calc(100% - 40px);
  }
}
@media (max-width: 800px) {
  footer {
    width: calc(100% - 30px);
  }
}
footer .media_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
footer .media_list svg {
  width: 20px;
  height: 20px;
  margin: 10px;
  fill: white;
  cursor: pointer;
}
footer .media_list svg:hover {
  fill: #c5c4c4;
}
footer p {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

/*# sourceMappingURL=main.css.map */
